body {
    font-family: Verdana, Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
@media (min-width: 481px) and (max-width:768px) {
    body {
        background-color: green;
    }
}
/* для декстопов */
@media (min-width:769px) {
    body {
        background-color: blue;
    }
}